.git

aws/.aws/cli
aws/.aws/credentials

gradle/.gradle/.tmp
gradle/.gradle/build-scan-data
gradle/.gradle/caches
gradle/.gradle/daemon
gradle/.gradle/dependency-check-data
gradle/.gradle/jdks
gradle/.gradle/native
gradle/.gradle/notifications
gradle/.gradle/undefined-build
gradle/.gradle/workers
gradle/.gradle/wrapper

kube/.kube/cache
kube/.kube/http-cache
kube/.kube/*.config
kube/.kube/kubectx

nvim/.config/nvim/plugged/

Brewfile.lock.json
