[submodule "eclipse.jdt.ls"]
	path = eclipse.jdt.ls
	url = https://github.com/eclipse/eclipse.jdt.ls.git
[submodule "nvim/.config/nvim"]
	path = nvim/.config/nvim
	url = git@github.com:aviralmansingka/kickstart-modular.nvim
