.git
.envrc

git/.config/lazygit/state.yml

aws/.aws/cli
aws/.aws/credentials

gradle/.gradle/.tmp
gradle/.gradle/build-scan-data
gradle/.gradle/caches
gradle/.gradle/daemon
gradle/.gradle/dependency-check-data
gradle/.gradle/jdks
gradle/.gradle/native
gradle/.gradle/notifications
gradle/.gradle/undefined-build
gradle/.gradle/workers
gradle/.gradle/wrapper

kube/.config/k9s/config.yml

Brewfile.lock.json

ops/terraform/*.tfvars
ops/terraform/.terraform/
ops/terraform/.terraform.lock.hcl
ops/terraform/terraform.tfstate*
